body {
  background-color: bisque;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="textarea"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
}

input[type=],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] button {
  border: black;
  color: rgb(233, 125, 36);
  padding: 50px 32px;
  text-align: center;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: color red;
  padding: 20px;
}
